{% extends 'base.html' %}

{% block page %}
<h1>Advertise With Us!</h1>
<h2>General Advertsing Information</h2>
<p>Hilltop Views accepts ads for both its print and online editions. For information on rates, deadlines, requirements and other details you can download our ad rate sheets below.

Hilltop Views and the faculty adviser reserve the right to refuse any advertising for any reason. Additionally, Hilltop Views does not take responsibility for the factual content of any ad. The responsibility for proofreading ads is that of the advertiser. Printing or publishing an advertisement does not constitute an endorsement by Hilltop Views.</p>
<h2>Advertising Contact Information</h2>
<br />
Clay Colen, Advertising and Business Manager<br />
<br />
3001 South Congress Avenue<br />
Campus Mailbox #964<br />
Austin, Texas 78704<br />
(512) 448-8426<br />
<a href="mailto:hilltopviewsads@gmail.com">hilltopviewsads@gmail.com</a></p>
<p><strong>Place an Ad (print or online)</strong><br />
To place an ad (print or online) download one of the following pdf documents, fill it out and email it back to us.</p>
<p><a href="https://www.dropbox.com/s/6y1uipl3kg2v9ln/PrintAdRequest.pdf?dl=0">Print Ad Requests</a></p>
<p><a href="https://www.dropbox.com/s/u5zk78h7c9482fj/OnlineAdRequest.pdf?dl=0">Online Ad Requests</a> </p>
{% endblock %}