{% for article, section in featured_articles %}
<div class="media panel panel-default">
    <div class="panel-body">
        <div class="media-left">
            <a href="articles/{{ article.url }}">
                <img class="media-object thumbnail-featured"
                     src="{{ article.image }}">
            </a>
        </div>
        <div class="media-body">
            <a href="articles/{{ article.url }}">
                <h3 class="media-heading">{{ article.title }}</h3>
            </a>


                <!-- TODO figure out how to iterate through the authors field, manytomany -->
                {% for contributor in article.authors.all %}
                <p><a href="/{{ section.url }}">{{ section.name }}</a> |
                    <a href="/contributors/{{ contributor.twitter }}">{{ contributor }}</a> </p>
                    {% endfor %}

			  <p>{{article.preview}}</p>
        </div>
    </div>
</div>
{% endfor %}

