{% extends 'base.html' %}

{% block page %}
<div class="container col-md-6">
                <div class="">
                        <h2>About Us</h2>
                        <p> Hilltop Views is a weekly student newspaper published by the School of Humanities and serving the community of
                                        St. Edward"s University. The opinions expressed herein are not necessarily those of the university, whose
                                        mission is grounded in the teachings and doctrine of the Catholic Church.Hilltop Views is a weekly student
                                        newspaper published by the School of Humanities and serving the community of St. Edward's University.
                                        The opinions expressed herein are not necessarily those of the university, whose mission is grounded in the
                                        teachings and doctrine of the Catholic Church.</p>
                        <h3>Letter Policy: </h3>
                        <p>Hilltop Views welcomes all letters to the editor. Letters may be edited for space,
                                        grammar and clarity. Letters will be published at our discretion. Anonymous
                                        letters will not be printed or run in our online edition.</p>
                                <h3> Address: </h3>
                                <p> 3001 S. Congress Ave, <br>
                                #964, Austin, TX 79704-6489 </p>
                                <h3> Phone: </h3>
                                <p> 512.448.8426 </p>
                                <h3> Email: </h3>
                                <p><a href="mailto:hilltopviewseditors@gmail.com">hilltopviewseditors@gmail.com </a></p>
                                <h3> For advertising information: </h3>
                                <p><a href="mailto:hilltopviewsads@gmail.com">hilltopviewsads@gmail.com </a></p>
                                <p> <b> Staff Information </b> </p>
                    {% comment add a loop to load staff positions and links to their pages here %}
                    {% endcomment %}

                        </div>
                </div>
{% endblock %}