<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="shortcut icon" type="image/jpeg" href="/{/% static "favicon.jpeg" %}"/>-->
    <link rel="shortcut icon" type="image/jpeg" href="http://oi57.tinypic.com/2zebggn.jpg"/>


    <link rel="stylesheet" href="{% static "flexslider/flexslider.css" %}" type="text/css">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "hilltopviews.css" %}" rel="stylesheet">
    <link href="{% static "footer.css" %}" rel="stylesheet">

    <link href="{% static "UniversLTStd-LightUltraCn.css" %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "flexslider/jquery.flexslider.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $('.flexslider').flexslider();
        });
    </script>


    <title>{% block title %}512 Views{% endblock %}</title>
</head>

<body>
 <div id="body-wrapper">
  <header>
    <div class="row" style="background-image: url(http://oi60.tinypic.com/5lo1uo.jpg); background-size: 100%; background-position: 50% 0%;">
        <div class="col-sm-3 line">
            <hr>
        </div>
        <div class="col-sm-6 logo">
	        <span style="color:#000000">
	          <span style="font-family:UniversLTStd-LightUltraCn_gdi">
	            <big>
	              <span style="font-size:120px">
	                <strong>
                        {% block page_title %}&nbsp;{% endblock %}
                    </strong>
	              </span>
                </big>
	          </span>                                                                                                                                                      
	        </span>
        </div>
        <div class="col-sm-3 line">
            <hr>
        </div>
    </div>
    <div class="navbar navbar-inverse">
        <!--<div class="container">-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                    <a class="navbar-brand" href="/">512 Views</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/news">News</a></li>
                    <li><a href="/life_and_arts">Life and Arts</a></li>
                    <li><a href="/sports">Sports</a></li>
                    <li><a href="/viewpoints">Viewpoints</a></li>
                    <li><a href="#blogs">Blogs</a></li>
                    <li><a href="http://www.hilltopviewsonline.com/">HilltopViews</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <script type="text/javascript"
                                src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54fe73633c3e6f97"
                                async="async"></script>
                    </li>
                    <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        <!--</div>-->
    </div>
  </header>

<!--<div id="full page" class="container">-->
    <div id="full page">
        <div id="page">
            <div class="row">
                {% block page %}{% endblock %}
            </div>
        </div>

        <div>
        </div>

        <footer>
            <div class="row">
                {% block footer %}
                    {% include "footer.html" %}
                {% endblock %}
            </div>
        </footer>
    </div>
<!-- end of full page -->
  </div>
</body>



</html>