{% for article, section in featured_articles %}
<div class="media panel panel-default">
    <div class="panel-body">
        <div class="media-left">
            <a href="articles/{{ article.url }}">
                <img class="media-object thumbnail-featured"
                     src="{{ article.image }}">
            </a>
        </div>
        <div class="media-body">
            <a href="articles/{{ article.url }}">
                <h2 class="media-heading">{{ article.title }}</h2>
            </a>
            <a href="/{{ section.url }}">
                <h4>{{ section.name }}</h4>
            </a>
			  <p>{{article.preview}}</p>
			  <!-- TODO figure out how to iterate through the authors field, manytomany -->
			  <p>By 'Author name'</p>
        </div>
    </div>
</div>
{% endfor %}