<div class="media panel panel-default">
		<div class="panel-body">
		  <div class="media-left">
		    <a href="">
		      <img class="media-object thumbnail" src="http://www.nasa.gov/sites/default/files/thumbnails/image/16589873002_21c846154d_o.jpg">
		    </a>
		  </div>
		  <div class="media-body">
		    <h3 class="media-heading">A Story</h3>
		    <p>Category</p>
		  </div>
		</div>
</div>
		
<div class="media panel panel-default">
	<div class="panel-body">
		  <div class="media-left">
		    <a href="">
		      <img class="media-object thumbnail" src="http://www.nasa.gov/sites/default/files/thumbnails/image/16589873002_21c846154d_o.jpg">
		    </a>
		  </div>
		  <div class="media-body">
		    <h3 class="media-heading">A Story</h3>
		    <p>Category</p>
		  </div>
	</div>	
</div>
	
<div class="media panel panel-default">
	<div class="panel-body">
		  <div class="media-left">
		    <a href="">
		      <img class="media-object thumbnail" src="http://www.nasa.gov/sites/default/files/thumbnails/image/16589873002_21c846154d_o.jpg">
		    </a>
		  </div>
		  <div class="media-body">
		    <h3 class="media-heading">A Story</h3>
		    <p>Category</p>
		  </div>
	</div>	
</div>