<p>&nbsp;</p>
          <div class="top-footer">
    <div class="row">
                                <div class="col-md-12">
                                        <ul class="nav nav-pills">
                                        <div class="col-md-3">
                                                <li><a href="#"> NEWS </a> </li>
                                        </div>
                                                <div class="col-md-2">
                                                <li> <a href="#"> LIFE &amp; ARTS </a> </li>
                                                </div>
                                                <div class="col-md-2">
                                                <li> <a href="#"> SPORTS </a></li>
                                                </div>
                                                <div class="col-md-2">
                                                <li> <a href="#"> VIEWPOINTS</a></li>
                                                </div>
                                                <div class="col-md-3">
                                                <li> <a href="#"> BLOGS </a></li>
                                                </div>
                                        </ul>
                                </div>
                </div>
        </div>
  
    <div class="bottom-footer">
      <div class="row">
        <div class="col-md-12">
                                <ul class="nav nav-pills">
                                <div class="col-md-3">
              <li><a href="#"><b>CONTACT</b></a></li>
                                </div>
                                <div class="col-md-2">
        <li><a href="about"><b>ABOUT</b></a></li>
                                </div>
                                <div class="col-md-2">
                                <img src="http://i.turner.ncaa.com/dr/ncaa/ncaa7/release/sites/default/files/images/logos/schools/s/st-edwards.40.png"/>
                                </div>
                                <div class="col-md-2">
        <li><a href="#"><b>ADVERTISE</b></a></li>
                                </div>
                                <div class="col-md-3">
        <li><a href="#"><b>ABOUT</b></a></li>
                                </div>
                        </ul>
     </div>      
    </div>
  </div>