<p>&nbsp;</p>
          <div class="top-footer">
    <div class="row">
                                <div class="col-md-12">
                                        <ul class="nav nav-pills">
                                        <div class="col-md-2">
                                                <li><a href="/news"> NEWS </a> </li>
                                        </div>
                                                <div class="col-md-2">
                                                <li> <a href="/life_and_arts"> LIFE &amp; ARTS </a> </li>
                                                </div>
                                                <div class="col-md-2">
                                                <li> <a href="/sports"> SPORTS </a></li>
                                                </div>
                                                <div class="col-md-2">
                                                <li> <a href="/viewpoints"> VIEWPOINTS</a></li>
                                                </div>
                                                <div class="col-md-2">
                                                <li> <a href="#blogs"> BLOGS </a></li>
                                                </div>
                                        </ul>
                                </div>
                </div>
        </div>
  
    <div class="bottom-footer">
      <div class="row">
        <div class="col-md-12">
                                <ul class="nav nav-pills">
                                <div class="col-md-2">
              <li><a href="about.html"><b>CONTACT</b></a></li>
                                </div>
                                <div class="col-md-2">
        <li><a href="about.html"><b>ABOUT</b></a></li>
                                </div>
                                <div class="col-md-2">
                                <a href="/"><img src="http://i.turner.ncaa.com/dr/ncaa/ncaa7/release/sites/default/files/images/logos/schools/s/st-edwards.40.png"/>
                                </a></div>
                                <div class="col-md-2">
        <li><a href="advertise.html"><b>ADVERTISE</b></a></li>
                                </div>
                                <div class="col-md-2">
        <li><a href="about.html"><b>ABOUT</b></a></li>
                                </div>
                        </ul>
     </div>      
    </div>
  </div><!--/row 2-->