{% extends 'base.html' %}

{% block page %}

    <div class="row">
        <div class="container-fluid">
            {% block main_stories %}{% include "main-stories.html" %}{% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="container-fluid col-md-6">
            {% block featured %}{% include "featured-articles.html" %}{% endblock %}
        </div>

        <div class="container-fluid col-md-3">
            {% block twitter-feed %}
               <a class="twitter-timeline" href="https://twitter.com/HilltopViews" data-widget-id="582969816580898816">Tweets by @HilltopViews</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            {% endblock %}
        </div>

        <div class="container-fluid col-md-3">
            {% block homepage-ads %}
                <h1>Some ads</h1>
            {% endblock %}
        </div>
        <!-- /.container -->
    </div> <!-- /.row -->

    {% block pinned-stories %}
        {% include "pinned-articles.html" %}
    {% endblock pinned-stories %}

{% endblock %}