{% extends 'base.html' %}
	
{% block page %}

<div class="row">
	<div class="container-fluid">
		{% block main_stories %}{% include "main-stories.html" %}{% endblock %}
	</div>
</div>

<div class="row">
	<div class="container-fluid col-md-8">
		{% block featured %}{% include "featured-articles.html" %}{% endblock %}
	</div>

	<div class="container-fluid col-md-4">
		{% block featured-categories %}
		{% include "featured-categories.html" %}
		{% endblock %}
	</div> <!-- /.container -->
</div> <!-- /.row -->

<div class="row">
	<div class="container-fluid col-md-4">

		<div class="container-fluid well">
			<h1 style="text-align: center;">Spot</h1>
		</div>
		
		<div class="container-fluid well">
			<h1 style="text-align: center;">Spot</h1>
		</div>	
	
		<div class="container-fluid well">
			<h1 style="text-align: center;">Spot</h1>
		</div>

	</div>
	<div class="container-fluid col-md-4">

		<div class="container-fluid well">
			<h1 style="text-align: center;">Spot</h1>
		</div>
		
		<div class="container-fluid well">
			<h1 style="text-align: center;">Spot</h1>
		</div>	
	
		<div class="container-fluid well">
			<h1 style="text-align: center;">Spot</h1>
		</div>

	</div>
	<div class="container-fluid col-md-4">

		<div class="container-fluid well">
			<h1 style="text-align: center;">Spot</h1>
		</div>
		
		<div class="container-fluid well">
			<h1 style="text-align: center;">Spot</h1>
		</div>	
	
		<div class="container-fluid well">
			<h1 style="text-align: center;">Spot</h1>
		</div>
	</div>
</div>

{% endblock %}