<div class="flexslider">
    <ul class="slides">
        <li>
            <img class="img-responsive"
                 src="http://www.nasa.gov/sites/default/files/thumbnails/image/16483294159_c75d7de8f5_o.jpg"/>

            <div class="main-feature-box">
                <h3>First Story</h3>
            </div>
        </li>
        <li>
            <img class="img-responsive" src="http://www.nasa.gov/sites/default/files/thumbnails/image/potw1508a.jpg"/>

            <div class="main-feature-box">
                <h3>First Story</h3>
            </div>
        </li>
        <li>
            <img class="img-responsive" src="http://apod.nasa.gov/apod/image/1503/PIA19216MessengerCaloris.jpg"/>

            <div class="main-feature-box">
                <h3>First Story</h3>
            </div>
        </li>
    </ul>
</div>
