<div class="flexslider">
    <ul class="slides">
        {%  for article in main_stories %}
            <li>
                <!-- TODO: when media is working, change this image -->
                <a href="articles/{{ article.url }}">
                    <img class="img-responsive"
                         src="http://www.nasa.gov/sites/default/files/thumbnails/image/16483294159_c75d7de8f5_o.jpg"/>
                </a>
                <div class=main-feature-box">
                    <h3>{{ article.title }}</h3>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
