<div class="flexslider">
    <ul class="slides">
        {%  for article in main-stories %}
            <li>
                <!-- TODO: when media is working, change this image -->
                <img class="img-responsive"
                 src="http://www.nasa.gov/sites/default/files/thumbnails/image/16483294159_c75d7de8f5_o.jpg"/>
                <div class=main-feature-box">
                    <h3>{{ article.title }}</h3>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
