{% extends 'base.html' %}

{% block page_title %}
{{ section.name }}
{% endblock %}


{% block page %}
<div class="row">
    <div class="jumbotron">
        <a href="articles/{{ featured_article.url }}">
            <h2 style="text-align: center;">{{ featured_article.title }}</h2>
        <img class="img-responsive" src="{{ featured_article.image }}">
        <p>{{ featured_article.preview }}</p>
        </a>
    </div>
</div>

{% for article in articles %}
<div class="media panel panel-default">
    <div class="panel-body">
        <a href="articles/{{ article.url  }}">
            <div class="media-left">
                <img class="media-object thumbnail-featured" src="{{ article.image }}">
            </div>
        <div class="media-body">
            <h2>{{ article.title }}</h2>
        </div>
        </a>
    </div>
</div>
{% endfor %}

{% endblock %}